<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!--网段配置-->
    <add key="ifAtSamePC" value="False"/>
    <!--服务器IP地址配置-->
    <add key="serverIPAtDiffPC" value="192.168.1.13"/>
    <!--TCP时间配置-->
    <add key="tcpTransferSocketRecieveTimeOut" value="3000"/>
    <!--UDP时间配置-->
    <add key="udpTransferSocketInterval" value="150"/>
    <add key="udpTransferSocketSendTimeOut" value="500"/>
    <!--相机号配置-->
    <add key="cameraIndex" value="1"/>
    <add key="cameraFps" value="10"/>
    <add key="cameraHeight" value="960"/>
    <add key="cameraWidth" value="1280"/>
  </appSettings>
</configuration>